#####################################
# PYTHON
#####################################
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
*.egg-info/

#####################################
# IDE / EDITOR
#####################################
.vscode/
.idea/

#####################################
# CONFIGURAÇÕES E CREDENCIAIS
#####################################
.env
*.env.local
*.key
*.pem
*.p12
*.crt

# Arquivos de configuração sensíveis
*.aws
.aws/
*.ini

#####################################
# DADOS, ARTEFATOS E ESTADO
#####################################
# estado do job
state/
!state/.gitkeep

# diretórios de dados
data/
dados/
outputs/
logs/
tmp/
minio/
parquet/
csv/

# manter pastas vazias
!data/.gitkeep
!outputs/.gitkeep
!logs/.gitkeep

# arquivos específicos
*.db
*.sqlite
*.csv
*.parquet

#####################################
# DOCKER
#####################################
docker-compose.override.yml
docker-compose.override.yaml

# imagens geradas
*.tar

#####################################
# SISTEMA / MISC
#####################################
.DS_Store
Thumbs.db
